#### Problem Statement:

### **Predicting High-Profit Sales Transactions Using Machine Learning**

---

#### Objective 
***
The goal of this project is to develop a machine learning model that can predict whether a sales transaction will yield a high profit (defined as a profit greater than $10,000). This predictive model will help the business prioritize and strategize its sales efforts to maximize profitability.

#### Data Description
***
The dataset contains 500,000 sales records with the following attributes:

- Region: The geographical region where the sale was made.
- Country: The country where the sale was made.
- Item Type: The type of item sold (e.g., Fruits, Clothes, Meat, etc.).
- Sales Channel: The sales channel used (Online or Offline).
- Order Priority: The priority of the order (High, Medium, Low, Critical).
- Order Date: The date when the order was placed.
- Order ID: A unique identifier for the order.
- Ship Date: The date when the order was shipped.
- Units Sold: The number of units sold.
- Unit Price: The price per unit.
- Unit Cost: The cost per unit.
- Total Revenue: The total revenue from the sale.
- Total Cost: The total cost of the sale.
- Total Profit: The total profit from the sale

---
#### Load libraries And Dataset

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [12]:
# Loading the dataset
data = pd.read_csv("500000 Sales Records.csv")
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18